aside{

	&.v-mobile-info{
		left: 100%!important;
	}

	&:last-of-type{
		position: fixed;
		top: 0;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: white;
		border-left: 1px solid $gray__1;		
	    flex-direction: column;
		display: flex;
		align-items: center;;
		justify-content: flex-start;
	    overflow-y: auto;
	    overflow-x: hidden;
		z-index: 10;
		transition: all .3s;

		section{			

		    padding: 20px 0;
    		width: 90%;
    		border-bottom: 1px solid $gray__1;

    		&.mobile_nav{
				padding: 0;
				border: none;
				width: 100%;
				height: 40px;
				flex: 0 1 auto;

				a{
					height: 100%;
					width: 100%;
				    display: flex;
				    align-items: center;
				    justify-content: flex-end;
				    padding-right: 10px;
				    transition: all .3s;
				    color: $gray__1;


				    &:hover,
				    &:focus{
						background-color: $main__color;
						color: white;
					}
				}
    		}

    		&.currency{

				padding-top: 5px;
				min-height: 110px;
				position: relative;

				ul{

					li{
					    margin: 5px auto;	
					    @include flex-around;

					    .sign{
							    font-size: 1em;
							    width: 30px;
		    					height: 30px;
		    					filter: drop-shadow(0 1px 1px rgba(0,0,0,0.2));
		    					color: $yellow__3;
		    					border-radius: 50%;
		    					margin-left: 20px;
							    @include flex-center;
						}

						span{
								font-size: 0.9em;
								color: lighten($text__color,30%);
							}

						.price{
								margin-right: 20px;
						}					
					}

				}
	    	}


	    	&.weather{

	    		min-height: 350px;
	    		position: relative;

				ul{

					// background: ivory;
				    padding: 20px;
				    border-radius: 10px;
				    

					li{
						a{
							@include flex-between;
							color: $yellow__3;	
							
														

							span{
								&:nth-of-type(1){
									width: 100px;
									overflow-x: hidden;
									font-size: 0.9em;
									color: lighten($text__color,30%);
								}
							}

							svg{
								height: 46px;
								width: 55px;
							}						
						}

					}
				}
	    	}

	    	&.password_generator{

	    		border: none;
				
				nav{

					@include flex-between;

					label{
						padding: 5px 10px;
						// color: $main__color;
					    border-radius: 50%;
					    transition: all .3s;	
					    position: relative;	
					    transition: all .3s;			    				    
						@include flex-center;
						opacity: .7;
						font-size: 0.9em;

						.point{
							width: 7px;
						    height: 7px;
						    border-radius: 50%;
						    filter: drop-shadow(0px 1px 1px rgba(0,0,0,.7));
						    background: transparent;
						    margin-right: 5px;
						    
						}

						&.active{

							color: $danger__color;
							opacity: 1;

							.point{
							    background: $danger__color;
							}

						}


						input{
							opacity: 0;
							visibility: hidden;
							position: absolute;
						}
					}
				}

				.input_group{

					display: flex;
					margin-top: 10px;
					justify-content: center;	

					input{
						// background: $yellow__1;
					    border: none;
					    outline: none;
					    padding: 5px;
					    width: 150px;
					    // border-radius: 5px;
					    color: lighten($text__color,30%);

					}    		
				
					a{
						width: 30px;
						height: 30px;

						@include flex-center;

						&:hover{
							svg{
								fill: $main__color;
							}
						}

						svg{
							transition: all .3s;	
							width: 20px;
							height: 20px;
							fill: $gray__2;						
						}

						&:last-of-type{
							position: relative;

							span {
								position: absolute;
							    top: 0;
							    left: -200%;
							    width: 60px;
							    z-index: 100;
							    background: $main__color;
							    color: white;
							    display: block;
							    font-size: 0.9em;
							    font-variant: small-caps;
							    text-align: center;
							    border-radius: 3px;									
								display: block;

								&:after{
									content: '';
								    display: block;
								    width: 0;
								    height: 0;
								    position: absolute;
								    border-top: 6px solid transparent;
								    border-bottom: 6px solid transparent;
								    border-right: 6px solid transparent;
								    left: 100%;
								    top: 3px;
								    border-left: 6px solid $main__color;
								}
								
							}

						}

					}



				}

	    	}

		}
	}
}

@include lg__tablets{
	aside{
		&:last-of-type{
			width: 20%;
			left: 80%;
		}
	}
}